.results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 18rem), 1fr));
  gap: 1rem;
  padding: 1rem;
  text-align: left;
}

@media (--sm) {
  .results {
    gap: 1.25rem;
  }
}

@media (--lg) {
  .results {
    gap: 1.5rem;
    padding: 1.5rem;
  }
}
